name: CI and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Build with Maven
        run: |
          mvn -pl bootstrap -am clean package -DskipTests \
            --settings .github/maven/settings.xml \
            -DDB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
            -DDB_URL="${{ secrets.DB_URL }}" \
            -DDB_USERNAME="${{ secrets.DB_USERNAME }}" \
            -DTENCENT_CLOUD_API_SECRET_ID="${{ secrets.TENCENT_CLOUD_API_SECRET_ID }}" \
            -DTENCENT_CLOUD_API_SECRET_KEY="${{ secrets.TENCENT_CLOUD_API_SECRET_KEY }}" \
            -DWECHAT_APP_ID="${{ secrets.WECHAT_APP_ID }}" \
            -DWECHAT_APP_SECRET="${{ secrets.WECHAT_APP_SECRET }}" \
            -DREDIS_HOST="${{ secrets.REDIS_HOST }}" \
            -DREDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}" \
            -DREDIS_PORT="${{ secrets.REDIS_PORT }}" \
            -DREDIS_USERNAME="${{ secrets.REDIS_USERNAME }}" \
            -DREDIS_VERSION="${{ secrets.REDIS_VERSION }}" \
            -DJWT_SECRET="${{ secrets.JWT_SECRET }}"

      - name: Check build output
        run: ls -la bootstrap/target/

      - name: Deploy JAR
        run: |
          echo "Copying JAR to deployment directory..."
          cp bootstrap/target/bootstrap-0.0.1-SNAPSHOT.jar /var/lib/jenkins/workspace/my-family-diary-backend/api-0.0.1-SNAPSHOT.jar
          echo "Deploy complete!"

      - name: Restart Application Service
        run: |
          echo "Restarting myapp service..."
          sudo systemctl daemon-reload
          sudo systemctl restart myapp
          sleep 5
          sudo systemctl status myapp --no-pager
